tanpa-bootstrap {
    border: none;
    padding: 20px;
    font-weight: 800;
    font-size: 3em;
    background-color: salmon;
    color: #333;
    cursor: pointer;
}

tanpa-bootstrap:hover {
    background-color: aqua;
    color: black;
    transform:rotate3d(2);
    transition: all .5s;
}